.elementor-13954 .elementor-element.elementor-element-7280539{padding:7rem 0rem 0rem 0rem;}.elementor-13954 .elementor-element.elementor-element-159d940 > .elementor-element-populated{margin:0rem 1rem 0rem 0rem;--e-column-margin-right:1rem;--e-column-margin-left:0rem;}.elementor-13954 .elementor-element.elementor-element-da7f33e .elementor-heading-title{color:#4D4F53;font-family:"Roboto", Sans-serif;font-size:34px;font-weight:normal;}.elementor-13954 .elementor-element.elementor-element-cb0d6fb .elementor-heading-title{font-family:"Roboto", Sans-serif;font-size:34px;font-weight:normal;}.elementor-13954 .elementor-element.elementor-element-c035b62 .cart button{color:#4D4F53;transition:all 0.2s;}.elementor-13954 .elementor-element.elementor-element-c035b62 .quantity .qty{font-family:"Roboto", Sans-serif;font-weight:normal;transition:all 0.2s;}.woocommerce .elementor-13954 .elementor-element.elementor-element-c035b62 form.cart table.variations label{color:#4D4F53;font-family:"Roboto", Sans-serif;font-size:14px;font-weight:normal;}.woocommerce .elementor-13954 .elementor-element.elementor-element-c035b62 form.cart table.variations td.value select{color:#4D4F53;}.woocommerce .elementor-13954 .elementor-element.elementor-element-c035b62 form.cart table.variations td.value select, .woocommerce div.product.elementor.elementor-13954 .elementor-element.elementor-element-c035b62 form.cart table.variations td.value:before{font-family:"Roboto", Sans-serif;font-weight:normal;}.elementor-13954 .elementor-element.elementor-element-fd6bf0b .elementor-heading-title{font-family:"Roboto", Sans-serif;font-size:20px;font-weight:500;line-height:30px;}.elementor-13954 .elementor-element.elementor-element-fd6bf0b > .elementor-widget-container{padding:2rem 0rem 2rem 0rem;}.elementor-13954 .elementor-element.elementor-element-ebbf54e .elementor-heading-title{font-family:"Roboto", Sans-serif;font-size:20px;font-weight:500;line-height:30px;}.elementor-13954 .elementor-element.elementor-element-928bdfa{--divider-border-style:solid;--divider-color:#5D6587;--divider-border-width:1px;}.elementor-13954 .elementor-element.elementor-element-928bdfa .elementor-divider-separator{width:100%;}.elementor-13954 .elementor-element.elementor-element-928bdfa .elementor-divider{padding-top:10px;padding-bottom:10px;}.elementor-13954 .elementor-element.elementor-element-0b95a8d > .elementor-element-populated{margin:0rem 0rem 0rem 0rem;--e-column-margin-right:0rem;--e-column-margin-left:0rem;padding:1rem 1rem 1rem 1rem;}.elementor-13954 .elementor-element.elementor-element-27a7ed1 .elementor-heading-title{color:#4D4F53;font-family:"Roboto", Sans-serif;font-size:34px;font-weight:normal;}.elementor-13954 .elementor-element.elementor-element-70f1966 .elementor-heading-title{font-family:"Roboto", Sans-serif;font-size:34px;font-weight:normal;}.elementor-13954 .elementor-element.elementor-element-093fc8a .cart button{color:#4D4F53;transition:all 0.2s;}.elementor-13954 .elementor-element.elementor-element-093fc8a .quantity .qty{font-family:"Roboto", Sans-serif;font-weight:normal;transition:all 0.2s;}.woocommerce .elementor-13954 .elementor-element.elementor-element-093fc8a form.cart table.variations label{color:#4D4F53;font-family:"Roboto", Sans-serif;font-size:14px;font-weight:normal;}.woocommerce .elementor-13954 .elementor-element.elementor-element-093fc8a form.cart table.variations td.value select{color:#4D4F53;}.woocommerce .elementor-13954 .elementor-element.elementor-element-093fc8a form.cart table.variations td.value select, .woocommerce div.product.elementor.elementor-13954 .elementor-element.elementor-element-093fc8a form.cart table.variations td.value:before{font-family:"Roboto", Sans-serif;font-weight:normal;}.elementor-13954 .elementor-element.elementor-element-6980089{padding:4rem 0rem 0rem 0rem;}.elementor-13954 .elementor-element.elementor-element-f63bf9d .elementor-heading-title{font-family:"Roboto", Sans-serif;font-size:24px;font-weight:normal;}.elementor-13954 .elementor-element.elementor-element-16f01a5{padding:2rem 0rem 3rem 0rem;}.elementor-13954 .elementor-element.elementor-element-45b58c6{--grid-column-gap:30px;--grid-row-gap:35px;}.elementor-13954 .elementor-element.elementor-element-d861383{padding:0rem 0rem 05rem 0rem;}.elementor-13954 .elementor-element.elementor-element-addcf67 .ht-product-inner .ht-product-categories{display:none !important;padding-left:0 !important;}.elementor-13954 .elementor-element.elementor-element-addcf67 .ht-product-inner .ht-product-categories::before{display:none !important;}.elementor-13954 .elementor-element.elementor-element-addcf67 .ht-product-inner .ht-product-ratting-wrap{display:none !important;}.elementor-13954 .elementor-element.elementor-element-addcf67 .ht-products .ht-product .ht-product-inner{border-color:#f1f1f1;}.elementor-13954 .elementor-element.elementor-element-addcf67 .ht-products .ht-product .ht-product-inner .ht-product-content{background-color:#ffffff;}.elementor-13954 .elementor-element.elementor-element-addcf67 .ht-products .ht-product .ht-product-inner .ht-product-image-wrap .ht-product-label{color:#444444;}.elementor-13954 .elementor-element.elementor-element-addcf67 .ht-products .ht-product .ht-product-inner .ht-product-content .ht-product-content-inner .ht-product-categories a{color:#444444;}.elementor-13954 .elementor-element.elementor-element-addcf67 .ht-products .ht-product .ht-product-inner .ht-product-content .ht-product-content-inner .ht-product-categories::before{background-color:#444444;}.elementor-13954 .elementor-element.elementor-element-addcf67 .ht-products .ht-product .ht-product-inner .ht-product-content .ht-product-content-inner .ht-product-categories a:hover{color:#dc9a0e;}.elementor-13954 .elementor-element.elementor-element-addcf67 .ht-products .ht-product .ht-product-inner .ht-product-content .ht-product-content-inner .ht-product-title a{color:#444444;}.elementor-13954 .elementor-element.elementor-element-addcf67 .ht-products .ht-product .ht-product-inner .ht-product-content .ht-product-content-inner .ht-product-title a:hover{color:#dc9a0e;}.elementor-13954 .elementor-element.elementor-element-addcf67 .ht-products .ht-product .ht-product-inner .ht-product-content .ht-product-content-inner .ht-product-price span{color:#444444;}.elementor-13954 .elementor-element.elementor-element-addcf67 .ht-products .ht-product .ht-product-inner .ht-product-content .ht-product-content-inner .ht-product-price span del span,.elementor-13954 .elementor-element.elementor-element-addcf67 .ht-products .ht-product .ht-product-inner .ht-product-content .ht-product-content-inner .ht-product-price span del{color:#444444;}.elementor-13954 .elementor-element.elementor-element-addcf67 .ht-products .ht-product .ht-product-inner .ht-product-content .ht-product-content-inner .ht-product-ratting-wrap .ht-product-ratting .ht-product-user-ratting i.empty{color:#aaaaaa;}.elementor-13954 .elementor-element.elementor-element-addcf67 .ht-products .ht-product .ht-product-inner .ht-product-content .ht-product-content-inner .ht-product-ratting-wrap .ht-product-ratting .ht-product-user-ratting i{color:#dc9a0e;}.elementor-13954 .elementor-element.elementor-element-addcf67 .ht-products .ht-product .ht-product-inner .ht-product-action ul li a .ht-product-action-tooltip,.elementor-13954 .elementor-element.elementor-element-addcf67 span.woolentor-tip{color:#ffffff;}.elementor-13954 .elementor-element.elementor-element-addcf67 .ht-products .ht-product .ht-product-inner .ht-product-action ul li a{color:#000000;width:30px;height:30px;}.elementor-13954 .elementor-element.elementor-element-addcf67 .ht-products .ht-product .ht-product-inner .ht-product-action ul li a i{font-size:20px;line-height:30px;}.elementor-13954 .elementor-element.elementor-element-addcf67 .woolentor-compare.compare::before,.elementor-13954 .elementor-element.elementor-element-addcf67 .ht-product-action ul li.woolentor-cart a::before{font-size:20px;line-height:30px;}.elementor-13954 .elementor-element.elementor-element-addcf67 .ht-products .ht-product .ht-product-inner .ht-product-action ul li:hover a{color:#dc9a0e;}.elementor-13954 .elementor-element.elementor-element-addcf67 .ht-product-action .yith-wcwl-wishlistaddedbrowse a, .ht-product-action .yith-wcwl-wishlistexistsbrowse a{color:#dc9a0e !important;}.elementor-13954 .elementor-element.elementor-element-addcf67 .product-slider .slick-arrow{top:50%;color:#dddddd;background-color:#ffffff !important;}.elementor-13954 .elementor-element.elementor-element-addcf67 .product-slider .slick-dots{left:50%;}.elementor-13954 .elementor-element.elementor-element-addcf67 .product-slider .slick-dots li button{background-color:#ffffff !important;}.elementor-13954 .elementor-element.elementor-element-addcf67 .product-slider .slick-arrow:hover{color:#23252a;background-color:#ffffff !important;}.elementor-13954 .elementor-element.elementor-element-addcf67 .product-slider .slick-dots li button:hover{background-color:#282828 !important;}.elementor-13954 .elementor-element.elementor-element-addcf67 .product-slider .slick-dots li.slick-active button{background-color:#282828 !important;}.elementor-13954 .elementor-element.elementor-element-4b1804d{padding:2rem 0rem 1rem 0rem;}.elementor-13954 .elementor-element.elementor-element-326ffad{--grid-column-gap:30px;--grid-row-gap:30px;}@media(max-width:767px){.elementor-13954 .elementor-element.elementor-element-7280539{margin-top:0rem;margin-bottom:0rem;padding:0rem 0rem 0rem 0rem;}.elementor-13954 .elementor-element.elementor-element-159d940 > .elementor-element-populated{margin:1rem 1rem 1rem 1rem;--e-column-margin-right:1rem;--e-column-margin-left:1rem;}.elementor-13954 .elementor-element.elementor-element-da7f33e .elementor-heading-title{font-size:16px;}.elementor-13954 .elementor-element.elementor-element-da7f33e > .elementor-widget-container{padding:1rem 0rem 0rem 0rem;}.elementor-13954 .elementor-element.elementor-element-cb0d6fb{text-align:center;}.elementor-13954 .elementor-element.elementor-element-cb0d6fb > .elementor-widget-container{padding:1rem 0rem 0rem 0rem;}.elementor-13954 .elementor-element.elementor-element-0b95a8d > .elementor-element-populated{padding:0rem 0rem 0rem 0rem;}.elementor-13954 .elementor-element.elementor-element-f63bf9d > .elementor-widget-container{padding:0rem 01rem 0rem 01rem;}.elementor-13954 .elementor-element.elementor-element-addcf67 > .elementor-widget-container{margin:0rem 0rem 2rem 0rem;padding:0rem 0rem 0rem 0rem;}.elementor-13954 .elementor-element.elementor-element-1566334{width:100%;}.elementor-13954 .elementor-element.elementor-element-1566334 > .elementor-element-populated{margin:0rem 1rem 0rem 1rem;--e-column-margin-right:1rem;--e-column-margin-left:1rem;}}@media(min-width:768px){.elementor-13954 .elementor-element.elementor-element-159d940{width:60%;}.elementor-13954 .elementor-element.elementor-element-0b95a8d{width:40%;}}@media(max-width:1024px) and (min-width:768px){.elementor-13954 .elementor-element.elementor-element-159d940{width:100%;}}/* Start custom CSS for woocommerce-product-images, class: .elementor-element-0890d37 */.product-image-sec{
    border: 1px solid #BAC7D5;
    box-sizing: border-box;
    border-radius: 9px;
    margin-bottom: 0px !important;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-cb0d6fb */.amount {
    font-size: 2.2rem;
}
.ast-stock-detail{
    text-align: center;
}/* End custom CSS */
/* Start custom CSS for woocommerce-product-add-to-cart, class: .elementor-element-c035b62 */.woocommerce div.product form.cart .button{
    margin-top: 1rem;
    background: transparent;
    color: #BAC7D5 !important;
    border: 2px solid #BAC7D5 !important;
}
.pisol_buy_now_button{
    color: #fff !important;
    border: none !important;
}/* End custom CSS */
/* Start custom CSS for woocommerce-product-additional-information, class: .elementor-element-7c8d588 */.woocommerce table.shop_attributes tr:nth-child(even) th{
    background: #F5F7F9 !important;
}
.woocommerce table.shop_attributes th{
    background: #F5F7F9 !important;
}

.woocommerce table.shop_attributes tr:nth-child(even) td{
	background: #fff !important;
}
.woocommerce table.shop_attributes th{
    width: 45% !important;
}

.woocommerce table.shop_attributes td p {
    padding: 8px 16px !important;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-159d940 */.woocommerce table.shop_attributes td{
    padding-left: 1rem;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-0b95a8d */.product-payment{
    margin-left: 2rem;
    border: 1px solid #BAC7D5;
    box-sizing: border-box;
    border-radius: 9px;
    height: fit-content;
}
.qnt .qib-button-wrapper{
    margin: 0px 0px;
}
.product-payment form{
    display: inline-grid !important;
}
.product-payment form
.single_add_to_cart_button{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 5rem; 
    padding: 15px 40px !important;
    background-color: #fff !important;
    color: #BAC7D5 !important;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid #BAC7D5 !important;
    box-sizing: border-box;
    border-radius: 8px !important;

}
.product-payment form
.single_add_to_cart_button: hover{
    background-color: #fff !important;
}
.js-wsb-add-to-cart{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 5rem;
    background: #004BB9 !important;
    border-radius: 8px;
}






























.woo-variation-swatches.wvs-style-squared .variable-items-wrapper .variable-item.button-variable-item {
    width: 27rem !important;
    height: 2.75rem;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    border: 1px solid #BAC7D5;
    margin: 0.30rem 0rem;
    background-image: url('https://i.pinimg.com/originals/f2/e2/04/f2e20401aa6a17405f52f4fe9605bed3.png');
    background: #fff;
    text-align: left !important;
}


.woocommerce div.product.elementor form.cart.variations_form .woocommerce-variation-add-to-cart, .woocommerce div.product.elementor form.cart:not(.grouped_form):not(.variations_form){
    flex-flow: wrap;
}
.qib-button-wrapper{
    margin: 0rem !important;
}

.woocommerce div.product form.cart .button.single_add_to_cart_button{
    flex-basis: 100%;
}
.woocommerce div.product form.cart .button{
    margin-left: 5rem;
    margin-right: 5rem;
    flex-basis: 100%;
    padding: 1.5rem !important;
    border-radius: 8px;
    
}




@media screen and (max-width: 768px){
    .product-payment{
        margin: 1rem;
    }
    .woo-variation-swatches.wvs-style-squared .variable-items-wrapper .variable-item.button-variable-item {
    width: 100% !important;
    }
    .qib-button-wrapper{
    margin: auto !important;
}
.woocommerce-notices-wrapper{
    margin: 0rem 0rem 0rem 0rem !important;
}
.amount{
    font-size: 2rem !important;
}

}/* End custom CSS */
/* Start custom CSS for woolentor-universal-product, class: .elementor-element-addcf67 */.more-devices .ht-product-image-wrap{
    margin: 0 auto;
}
.more-devices  .ht-product-image{
    width: 15rem;  
    padding-top: 1rem;
}

.more-devices .ht-product-inner{
border-style: solid !important;
    border-width: 1px 1px 1px 1px !important;
    border-color: #BAC7D5 !important;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s !important;
    border-radius: 8px;
}
.more-devices .ht-row{
    margin-right: 0rem !important;
    margin-left: 0rem !important;
}
.product-slider .slick-dots {
margin-bottom: 1rem;
bottom: -3rem !important;
}
.ht-products .ht-product .ht-product-inner .ht-product-content .ht-product-content-inner .ht-product-title{
    font-size: 1rem !important;
    padding-bottom: 1.5rem;
    color: #262626 !important;
}
.elementor-8372 .elementor-element.elementor-element-addcf67 .ht-products .ht-product .ht-product-inner .ht-product-content .ht-product-content-inner .ht-product-title a:hover {
    color: #262626 !important;
}/* End custom CSS */
/* Start custom CSS for posts, class: .elementor-element-326ffad */.amount {
    font-size: 1.5rem;
}
@media screen and (max-width: 767px){
.amount {
    font-size: 1.1rem !important;
}
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-4b1804d */@media screen and (max-width: 767px){
.show-all-product{
    --grid-column-gap: 10px !important;
    --grid-row-gap:10px !important;
}
}/* End custom CSS */