.elementor-14630 .elementor-element.elementor-element-3eeb67d:not(.elementor-motion-effects-element-type-background), .elementor-14630 .elementor-element.elementor-element-3eeb67d > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("../../2022/02/Group-3426-1.png");background-repeat:no-repeat;background-size:cover;}.elementor-14630 .elementor-element.elementor-element-3eeb67d{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0rem 0rem 0rem 0rem;}.elementor-14630 .elementor-element.elementor-element-3eeb67d > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-14630 .elementor-element.elementor-element-94a0feb .elementor-heading-title{color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:48px;font-weight:bold;}.elementor-14630 .elementor-element.elementor-element-94a0feb > .elementor-widget-container{padding:7rem 0rem 4rem 0rem;}.elementor-14630 .elementor-element.elementor-element-ee5ac87{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-14630 .elementor-element.elementor-element-ee5ac87 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-14630 .elementor-element.elementor-element-b320de7 .elementor-heading-title{color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:48px;font-weight:normal;}.elementor-14630 .elementor-element.elementor-element-b320de7 > .elementor-widget-container{padding:7rem 0rem 3rem 0rem;}.elementor-14630 .elementor-element.elementor-element-51f9452{padding:3rem 0rem 3rem 0rem;}.elementor-14630 .elementor-element.elementor-element-b6949d6 > .elementor-element-populated{margin:0rem 0rem 0rem 0rem;--e-column-margin-right:0rem;--e-column-margin-left:0rem;}.elementor-14630 .elementor-element.elementor-element-541cdab .elementor-heading-title{font-family:"Roboto", Sans-serif;font-weight:500;}.elementor-14630 .elementor-element.elementor-element-eebcb71{color:#4D4F53;font-family:"Roboto", Sans-serif;font-weight:400;}.elementor-14630 .elementor-element.elementor-element-056d8e5 > .elementor-element-populated{margin:0rem 0rem 0rem 0rem;--e-column-margin-right:0rem;--e-column-margin-left:0rem;}.elementor-14630 .elementor-element.elementor-element-38f74d3{margin-top:2rem;margin-bottom:0rem;}.elementor-14630 .elementor-element.elementor-element-c013371 > .elementor-element-populated{margin:0rem 0rem 0rem 0rem;--e-column-margin-right:0rem;--e-column-margin-left:0rem;padding:0rem 0rem 0rem 0rem;}.elementor-14630 .elementor-element.elementor-element-ea41702{--divider-border-style:solid;--divider-color:#4D4F53;--divider-border-width:1px;}.elementor-14630 .elementor-element.elementor-element-ea41702 .elementor-divider-separator{width:100%;}.elementor-14630 .elementor-element.elementor-element-ea41702 .elementor-divider{padding-top:2px;padding-bottom:2px;}.elementor-14630 .elementor-element.elementor-element-ea41702 > .elementor-widget-container{margin:0rem 0rem 0rem 2rem;padding:0rem 0rem 0rem 0rem;}.elementor-14630 .elementor-element.elementor-element-037d85d .elementor-heading-title{font-family:"Roboto", Sans-serif;font-size:24px;font-weight:normal;}.elementor-14630 .elementor-element.elementor-element-037d85d > .elementor-widget-container{padding:0rem 0rem 0rem 1rem;}.elementor-14630 .elementor-element.elementor-element-8f8deb1 .elementor-menu-toggle{margin:0 auto;}.elementor-14630 .elementor-element.elementor-element-8e6fc23 > .elementor-widget-container{padding:0rem 0rem 0rem 1rem;}.elementor-14630 .elementor-element.elementor-element-cc89b7a{padding:3rem 0rem 5rem 0rem;}.elementor-14630 .elementor-element.elementor-element-27e8f14 .elementor-heading-title{font-family:"Roboto", Sans-serif;font-size:24px;font-weight:normal;}.elementor-14630 .elementor-element.elementor-element-27e8f14 > .elementor-widget-container{padding:0rem 0rem 1rem 0rem;}.elementor-14630 .elementor-element.elementor-element-ae444d8 .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 1.2 * 100% );}.elementor-14630 .elementor-element.elementor-element-ae444d8:after{content:"1.2";}.elementor-14630 .elementor-element.elementor-element-ae444d8 .elementor-post__thumbnail__link{width:32%;}.elementor-14630 .elementor-element.elementor-element-ae444d8{--grid-column-gap:30px;--grid-row-gap:35px;}.elementor-14630 .elementor-element.elementor-element-ae444d8.elementor-posts--thumbnail-left .elementor-post__thumbnail__link{margin-right:20px;}.elementor-14630 .elementor-element.elementor-element-ae444d8.elementor-posts--thumbnail-right .elementor-post__thumbnail__link{margin-left:20px;}.elementor-14630 .elementor-element.elementor-element-ae444d8.elementor-posts--thumbnail-top .elementor-post__thumbnail__link{margin-bottom:20px;}.elementor-14630 .elementor-element.elementor-element-2ab5d18:not(.elementor-motion-effects-element-type-background), .elementor-14630 .elementor-element.elementor-element-2ab5d18 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#00000000;}.elementor-14630 .elementor-element.elementor-element-2ab5d18{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-14630 .elementor-element.elementor-element-2ab5d18 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-14630 .elementor-element.elementor-element-a3e9aec .elementor-heading-title{font-family:"Roboto", Sans-serif;font-size:24px;font-weight:normal;}.elementor-14630 .elementor-element.elementor-element-a3e9aec > .elementor-widget-container{padding:0rem 0rem 1rem 0rem;}.elementor-14630 .elementor-element.elementor-element-8a35958 .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.66 * 100% );}.elementor-14630 .elementor-element.elementor-element-8a35958:after{content:"0.66";}.elementor-14630 .elementor-element.elementor-element-8a35958 .elementor-post__thumbnail__link{width:100%;}.elementor-14630 .elementor-element.elementor-element-8a35958{--grid-column-gap:16px;--grid-row-gap:16px;}.elementor-14630 .elementor-element.elementor-element-8a35958.elementor-posts--thumbnail-left .elementor-post__thumbnail__link{margin-right:20px;}.elementor-14630 .elementor-element.elementor-element-8a35958.elementor-posts--thumbnail-right .elementor-post__thumbnail__link{margin-left:20px;}.elementor-14630 .elementor-element.elementor-element-8a35958.elementor-posts--thumbnail-top .elementor-post__thumbnail__link{margin-bottom:20px;}.elementor-14630 .elementor-element.elementor-element-7cfeb2f .elementor-heading-title{font-family:"Roboto", Sans-serif;font-size:24px;font-weight:normal;}.elementor-14630 .elementor-element.elementor-element-7cfeb2f > .elementor-widget-container{padding:0rem 0rem 0rem 1rem;}.elementor-14630 .elementor-element.elementor-element-1a9b84d:not(.elementor-motion-effects-element-type-background), .elementor-14630 .elementor-element.elementor-element-1a9b84d > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#4D4F53;}.elementor-14630 .elementor-element.elementor-element-1a9b84d{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:3rem 0rem 3rem 0rem;}.elementor-14630 .elementor-element.elementor-element-1a9b84d > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-14630 .elementor-element.elementor-element-69f57d2 .elementor-heading-title{color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:24px;font-weight:normal;font-style:normal;}.elementor-14630 .elementor-element.elementor-element-69f57d2 > .elementor-widget-container{padding:0.5rem 0rem 0rem 0rem;}.elementor-14630 .elementor-element.elementor-element-b24f5cd .elementor-button{font-family:"Roboto", Sans-serif;font-size:16px;font-weight:bold;fill:#004BB9;color:#004BB9;background-color:#FFFFFF;border-radius:8px 8px 8px 8px;}@media(max-width:1024px){.elementor-14630 .elementor-element.elementor-element-a3e9aec > .elementor-widget-container{padding:0rem 0rem 1rem 2rem;}.elementor-14630 .elementor-element.elementor-element-1a9b84d{padding:3rem 2rem 3rem 2rem;}.elementor-14630 .elementor-element.elementor-element-69f57d2 .elementor-heading-title{font-size:20px;}.elementor-14630 .elementor-element.elementor-element-69f57d2 > .elementor-widget-container{padding:0.75rem 0rem 0rem 0rem;}}@media(max-width:767px){.elementor-14630 .elementor-element.elementor-element-ee5ac87:not(.elementor-motion-effects-element-type-background), .elementor-14630 .elementor-element.elementor-element-ee5ac87 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("../../2022/02/Group-3469-2.png");}.elementor-14630 .elementor-element.elementor-element-b320de7 .elementor-heading-title{font-size:34px;}.elementor-14630 .elementor-element.elementor-element-b320de7 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:05rem 0rem 05rem 2rem;}.elementor-14630 .elementor-element.elementor-element-51f9452{padding:0rem 0rem 0rem 0rem;}.elementor-14630 .elementor-element.elementor-element-c4cabfa > .elementor-widget-container{padding:1rem 2rem 1rem 2rem;}.elementor-14630 .elementor-element.elementor-element-541cdab{text-align:justify;}.elementor-14630 .elementor-element.elementor-element-541cdab .elementor-heading-title{font-size:16px;}.elementor-14630 .elementor-element.elementor-element-541cdab > .elementor-widget-container{padding:0rem 2rem 0rem 2rem;}.elementor-14630 .elementor-element.elementor-element-eebcb71{text-align:justify;}.elementor-14630 .elementor-element.elementor-element-eebcb71 > .elementor-widget-container{padding:0rem 2rem 0rem 2rem;}.elementor-14630 .elementor-element.elementor-element-cc89b7a{padding:1rem 0rem 1rem 0rem;}.elementor-14630 .elementor-element.elementor-element-27e8f14 > .elementor-widget-container{padding:0rem 2rem 1rem 2rem;}.elementor-14630 .elementor-element.elementor-element-ae444d8 .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.5 * 100% );}.elementor-14630 .elementor-element.elementor-element-ae444d8:after{content:"0.5";}.elementor-14630 .elementor-element.elementor-element-ae444d8 .elementor-post__thumbnail__link{width:100%;}.elementor-14630 .elementor-element.elementor-element-ae444d8 > .elementor-widget-container{padding:0rem 2rem 0rem 2rem;}.elementor-14630 .elementor-element.elementor-element-2ab5d18{padding:2rem 0rem 0rem 0rem;}.elementor-14630 .elementor-element.elementor-element-a3e9aec > .elementor-widget-container{padding:0rem 0rem 0rem 1rem;}.elementor-14630 .elementor-element.elementor-element-8a35958 .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 2.8 * 100% );}.elementor-14630 .elementor-element.elementor-element-8a35958:after{content:"2.8";}.elementor-14630 .elementor-element.elementor-element-8a35958 .elementor-post__thumbnail__link{width:20%;}.elementor-14630 .elementor-element.elementor-element-8a35958 > .elementor-widget-container{margin:0rem 0rem 0rem 0rem;padding:0rem 1rem 0rem 1rem;}.elementor-14630 .elementor-element.elementor-element-10c6155{padding:2rem 0rem 2rem 0rem;}.elementor-14630 .elementor-element.elementor-element-7cfeb2f > .elementor-widget-container{padding:0rem 0rem 0rem 2rem;}.elementor-14630 .elementor-element.elementor-element-4abb484 > .elementor-widget-container{margin:0rem 0rem 0rem 0rem;padding:0rem 2rem 1rem 2rem;}.elementor-14630 .elementor-element.elementor-element-69f57d2{text-align:center;}.elementor-14630 .elementor-element.elementor-element-69f57d2 > .elementor-widget-container{padding:1rem 0rem 1rem 0rem;}}@media(min-width:768px){.elementor-14630 .elementor-element.elementor-element-b6949d6{width:75%;}.elementor-14630 .elementor-element.elementor-element-056d8e5{width:24.566%;}.elementor-14630 .elementor-element.elementor-element-c013371{width:29.996%;}.elementor-14630 .elementor-element.elementor-element-076aee5{width:70%;}.elementor-14630 .elementor-element.elementor-element-e7c6ea2{width:60%;}.elementor-14630 .elementor-element.elementor-element-b480067{width:39.956%;}}/* Start custom CSS for section, class: .elementor-element-3eeb67d */.ast-header-breadcrumb{
    color: #fff !important;
}
.ast-breadcrumbs a{
    color: #fff !important;
}/* End custom CSS */
/* Start custom CSS for divider, class: .elementor-element-ea41702 */.blog-line{
    transform: rotate(90deg);
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-c013371 */.line-height .elementor-widget-container{
    width: 25rem;
}
.hr-line{
    border-top: 10px solid red;
    transform: rotate(90deg);
}/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-8f8deb1 */.single-blog-categories li a{
background: #F5F7F9;
border: 0.5px solid #E5EAEF;
box-sizing: border-box;
border-radius: 15px;
margin-top: 0.3rem;
margin-bottom: 0.3rem;
padding: 7px 14px !important;
color: #4D4F53 !important;
}
.single-blog-categories li a:hover{
    color: #4D4F53 !important;
    text-decoration: none;
}/* End custom CSS */
/* Start custom CSS for posts, class: .elementor-element-ae444d8 */.recommended article .elementor-post__text .elementor-post__title a{
font-family: "Roboto", Sans-serif !important;
font-style: normal;
font-weight: 500 !important;
font-size: 20px;
line-height: 30px;
color: #262626 !important;
text-decoration: none !important;
}
.elementor-post__text{
    padding-top: 1rem;
}
.recommended article{
    background: #F5F7F9;
border: 1px solid #DDE6FF;
box-sizing: border-box;
box-shadow: 0px 4px 15px rgba(155, 155, 155, 0.12);
border-radius: 20px;
}
.elementor-post__text .elementor-post__excerpt p, .elementor-post__text .elementor-post__meta-data{
font-family: "Roboto", Sans-serif !important;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
color: #262626 !important;
padding-right: 1rem;
}
.elementor-post__text .elementor-post__read-more{
font-family: "Roboto", Sans-serif !important;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
color: #004BB9;
text-decoration: none !important;
}


@media screen and (max-width: 767px){
    .recommended article,
.most-recent article{
display: flex;
flex-direction: column;
text-align: justify;  
}
.recommended article .elementor-post__thumbnail__link,
.most-recent article  .elementor-post__thumbnail__link{
    width: 100% !important;
}
.recommended article .elementor-post__title a,
.most-recent article .elementor-post__title a{
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 16px !important;
        font-weight: 500 !important;
}
.recommended article
.most-recent article .elementor-post__excerpt p .elementor-post__excerpt p{
    font-style: normal;
font-weight: normal;
font-size: 14px;
    color: #4D4F53 !important;
}
.recommended article .elementor-post__text{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}
.blog-categories-mb li{
    margin-left: 0rem;
    margin-right: 1rem;
}
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-2ab5d18 */@media screen and (max-width: 767px){
.blog-in-mobile article{
    margin: 1rem;
    background: #F5F7F9;
    border: 1px solid #DDE6FF;
    box-sizing: border-box;
    box-shadow: 0px 4px 15px rgba(155, 155, 155, 0.12);
    border-radius: 5px;
}
.blog-in-mobile .elementor-post__title a,
.most-recent article .elementor-post__title a{
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 16px !important;
    font-weight: 500 !important;
}

.blog-in-mobile article
.most-recent article .elementor-post__excerpt p .elementor-post__excerpt p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #4D4F53 !important;
}


.blog-in-mobile article .elementor-post__text{
    padding-bottom: 1rem;
    padding-right: 1rem;
}

.blog-in-mobile .elementor-post__thumbnail{
    padding-bottom: calc( 2.8 * 45% ) !important;
}
}

@media screen and (max-width: 600px){
.blog-in-mobile .elementor-post__thumbnail{
    padding-bottom: calc( 2.8 * 50% )!important;
}
}

@media screen and (max-width: 490px){
.blog-in-mobile .elementor-post__thumbnail{
    padding-bottom: calc( 2.8 * 80% )!important;
}
}

@media screen and (max-width: 400px){
.blog-in-mobile .elementor-post__thumbnail{
    padding-bottom: calc( 2.8 * 90% )!important;
}
}


@media screen and (max-width: 350px){
.blog-in-mobile .elementor-post__thumbnail{
    padding-bottom: calc( 2.8 * 100% )!important;
}
}/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-4abb484 */.blog-categories li a{
background: #F5F7F9;
border: 0.5px solid #E5EAEF;
box-sizing: border-box;
border-radius: 15px;
margin-top: 0.3rem;
margin-bottom: 0.3rem;
padding: 7px 14px !important;
color: #4D4F53 !important;
}
.blog-categories li a:hover{
    color: #4D4F53 !important;
    text-decoration: none;
}/* End custom CSS */