.elementor-14346 .elementor-element.elementor-element-7602d7e{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-14346 .elementor-element.elementor-element-7602d7e > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-14346 .elementor-element.elementor-element-32b64f6 .elementor-heading-title{color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:48px;font-weight:normal;}.elementor-14346 .elementor-element.elementor-element-32b64f6 > .elementor-widget-container{padding:7rem 0rem 3rem 0rem;}.elementor-14346 .elementor-element.elementor-element-dae9cd3:not(.elementor-motion-effects-element-type-background), .elementor-14346 .elementor-element.elementor-element-dae9cd3 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("../../2022/02/Group-3426-1.png");background-repeat:no-repeat;background-size:cover;}.elementor-14346 .elementor-element.elementor-element-dae9cd3{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-14346 .elementor-element.elementor-element-dae9cd3 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-14346 .elementor-element.elementor-element-50c7da4 .elementor-heading-title{color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:48px;font-weight:bold;}.elementor-14346 .elementor-element.elementor-element-50c7da4 > .elementor-widget-container{padding:6rem 0rem 3rem 0rem;}.elementor-14346 .elementor-element.elementor-element-b31c176{margin-top:0px;margin-bottom:0px;padding:2rem 0rem 0rem 0rem;}.elementor-14346 .elementor-element.elementor-element-a6e1bb3 .elementor-heading-title{font-family:"Roboto", Sans-serif;font-size:24px;font-weight:normal;}.elementor-14346 .elementor-element.elementor-element-a6e1bb3 > .elementor-widget-container{padding:0rem 0rem 1rem 0rem;}.elementor-14346 .elementor-element.elementor-element-294b895 .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.66 * 100% );}.elementor-14346 .elementor-element.elementor-element-294b895:after{content:"0.66";}.elementor-14346 .elementor-element.elementor-element-294b895 .elementor-post__thumbnail__link{width:35%;}.elementor-14346 .elementor-element.elementor-element-294b895{--grid-column-gap:30px;--grid-row-gap:35px;}.elementor-14346 .elementor-element.elementor-element-294b895.elementor-posts--thumbnail-left .elementor-post__thumbnail__link{margin-right:20px;}.elementor-14346 .elementor-element.elementor-element-294b895.elementor-posts--thumbnail-right .elementor-post__thumbnail__link{margin-left:20px;}.elementor-14346 .elementor-element.elementor-element-294b895.elementor-posts--thumbnail-top .elementor-post__thumbnail__link{margin-bottom:20px;}.elementor-14346 .elementor-element.elementor-element-e3a0c95{margin-top:2rem;margin-bottom:0rem;}.elementor-14346 .elementor-element.elementor-element-b1637a6 > .elementor-element-populated{margin:0rem 0rem 0rem 0rem;--e-column-margin-right:0rem;--e-column-margin-left:0rem;padding:0rem 0rem 0rem 0rem;}.elementor-14346 .elementor-element.elementor-element-40637c2{--divider-border-style:solid;--divider-color:#4D4F53;--divider-border-width:1px;}.elementor-14346 .elementor-element.elementor-element-40637c2 .elementor-divider-separator{width:70%;}.elementor-14346 .elementor-element.elementor-element-40637c2 .elementor-divider{padding-top:2px;padding-bottom:2px;}.elementor-14346 .elementor-element.elementor-element-40637c2 > .elementor-widget-container{margin:0rem 0rem 0rem 2rem;padding:0rem 0rem 0rem 0rem;}.elementor-14346 .elementor-element.elementor-element-e57dbdf .elementor-heading-title{font-family:"Roboto", Sans-serif;font-size:24px;font-weight:normal;}.elementor-14346 .elementor-element.elementor-element-e57dbdf > .elementor-widget-container{padding:0rem 0rem 0rem 1rem;}.elementor-14346 .elementor-element.elementor-element-7d8c20f .elementor-menu-toggle{margin:0 auto;}.elementor-14346 .elementor-element.elementor-element-544eb1c{padding:3rem 0rem 5rem 0rem;}.elementor-14346 .elementor-element.elementor-element-dabb020 .elementor-heading-title{font-family:"Roboto", Sans-serif;font-size:24px;font-weight:normal;}.elementor-14346 .elementor-element.elementor-element-dabb020 > .elementor-widget-container{padding:0rem 0rem 1rem 0rem;}.elementor-14346 .elementor-element.elementor-element-6830b87 .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 1 * 100% );}.elementor-14346 .elementor-element.elementor-element-6830b87:after{content:"1";}.elementor-14346 .elementor-element.elementor-element-6830b87 .elementor-post__thumbnail__link{width:40%;}.elementor-14346 .elementor-element.elementor-element-6830b87{--grid-column-gap:30px;--grid-row-gap:35px;}.elementor-14346 .elementor-element.elementor-element-6830b87.elementor-posts--thumbnail-left .elementor-post__thumbnail__link{margin-right:20px;}.elementor-14346 .elementor-element.elementor-element-6830b87.elementor-posts--thumbnail-right .elementor-post__thumbnail__link{margin-left:20px;}.elementor-14346 .elementor-element.elementor-element-6830b87.elementor-posts--thumbnail-top .elementor-post__thumbnail__link{margin-bottom:20px;}.elementor-14346 .elementor-element.elementor-element-68c781e:not(.elementor-motion-effects-element-type-background), .elementor-14346 .elementor-element.elementor-element-68c781e > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#00000000;}.elementor-14346 .elementor-element.elementor-element-68c781e{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-14346 .elementor-element.elementor-element-68c781e > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-14346 .elementor-element.elementor-element-61eed4d .elementor-heading-title{font-family:"Roboto", Sans-serif;font-size:24px;font-weight:normal;}.elementor-14346 .elementor-element.elementor-element-61eed4d > .elementor-widget-container{padding:0rem 0rem 1rem 0rem;}.elementor-14346 .elementor-element.elementor-element-a1158fc .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.66 * 100% );}.elementor-14346 .elementor-element.elementor-element-a1158fc:after{content:"0.66";}.elementor-14346 .elementor-element.elementor-element-a1158fc .elementor-post__thumbnail__link{width:100%;}.elementor-14346 .elementor-element.elementor-element-a1158fc{--grid-column-gap:16px;--grid-row-gap:16px;}.elementor-14346 .elementor-element.elementor-element-a1158fc.elementor-posts--thumbnail-left .elementor-post__thumbnail__link{margin-right:20px;}.elementor-14346 .elementor-element.elementor-element-a1158fc.elementor-posts--thumbnail-right .elementor-post__thumbnail__link{margin-left:20px;}.elementor-14346 .elementor-element.elementor-element-a1158fc.elementor-posts--thumbnail-top .elementor-post__thumbnail__link{margin-bottom:20px;}.elementor-14346 .elementor-element.elementor-element-ce4968e .elementor-heading-title{font-family:"Roboto", Sans-serif;font-size:24px;font-weight:normal;}.elementor-14346 .elementor-element.elementor-element-ce4968e > .elementor-widget-container{padding:0rem 0rem 0rem 1rem;}@media(max-width:1024px){.elementor-14346 .elementor-element.elementor-element-a6e1bb3 > .elementor-widget-container{padding:0rem 0rem 1rem 2rem;}.elementor-14346 .elementor-element.elementor-element-294b895 > .elementor-widget-container{padding:0rem 2rem 0rem 2rem;}.elementor-14346 .elementor-element.elementor-element-dabb020 > .elementor-widget-container{padding:0rem 0rem 1rem 2rem;}.elementor-14346 .elementor-element.elementor-element-6830b87 > .elementor-widget-container{padding:0rem 2rem 0rem 2rem;}.elementor-14346 .elementor-element.elementor-element-61eed4d > .elementor-widget-container{padding:0rem 0rem 1rem 2rem;}}@media(max-width:767px){.elementor-14346 .elementor-element.elementor-element-7602d7e:not(.elementor-motion-effects-element-type-background), .elementor-14346 .elementor-element.elementor-element-7602d7e > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("../../2022/02/Group-3469-2.png");}.elementor-14346 .elementor-element.elementor-element-32b64f6 .elementor-heading-title{font-size:34px;}.elementor-14346 .elementor-element.elementor-element-32b64f6 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:05rem 0rem 05rem 2rem;}.elementor-14346 .elementor-element.elementor-element-befcbec{padding:1rem 0rem 0rem 0rem;}.elementor-14346 .elementor-element.elementor-element-294b895 .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.5 * 100% );}.elementor-14346 .elementor-element.elementor-element-294b895:after{content:"0.5";}.elementor-14346 .elementor-element.elementor-element-294b895 .elementor-post__thumbnail__link{width:100%;}.elementor-14346 .elementor-element.elementor-element-294b895 > .elementor-widget-container{margin:1rem 0rem 0rem 0rem;}.elementor-14346 .elementor-element.elementor-element-544eb1c{padding:2rem 0rem 1rem 0rem;}.elementor-14346 .elementor-element.elementor-element-6830b87 .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.66 * 100% );}.elementor-14346 .elementor-element.elementor-element-6830b87:after{content:"0.66";}.elementor-14346 .elementor-element.elementor-element-6830b87 .elementor-post__thumbnail__link{width:100%;}.elementor-14346 .elementor-element.elementor-element-6830b87 > .elementor-widget-container{padding:0rem 2rem 0rem 2rem;}.elementor-14346 .elementor-element.elementor-element-68c781e{padding:2rem 0rem 0rem 0rem;}.elementor-14346 .elementor-element.elementor-element-a1158fc .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 2.8 * 100% );}.elementor-14346 .elementor-element.elementor-element-a1158fc:after{content:"2.8";}.elementor-14346 .elementor-element.elementor-element-a1158fc .elementor-post__thumbnail__link{width:20%;}.elementor-14346 .elementor-element.elementor-element-a1158fc > .elementor-widget-container{margin:0rem 0rem 0rem 0rem;padding:0rem 1rem 0rem 1rem;}.elementor-14346 .elementor-element.elementor-element-4eb3f7c{padding:2rem 0rem 0rem 0rem;}.elementor-14346 .elementor-element.elementor-element-ce4968e > .elementor-widget-container{padding:0rem 0rem 0rem 2rem;}.elementor-14346 .elementor-element.elementor-element-647cbee > .elementor-widget-container{margin:0rem 0rem 0rem 0rem;padding:0rem 2rem 1rem 2rem;}}@media(min-width:768px){.elementor-14346 .elementor-element.elementor-element-3889edc{width:75%;}.elementor-14346 .elementor-element.elementor-element-65c34ce{width:25%;}.elementor-14346 .elementor-element.elementor-element-b1637a6{width:29.996%;}.elementor-14346 .elementor-element.elementor-element-76e9bd0{width:70%;}}@media(max-width:1024px) and (min-width:768px){.elementor-14346 .elementor-element.elementor-element-3889edc{width:100%;}.elementor-14346 .elementor-element.elementor-element-65c34ce{width:100%;}}/* Start custom CSS for section, class: .elementor-element-dae9cd3 */.ast-header-breadcrumb{
    color: #fff !important;
}
.ast-breadcrumbs a{
    color: #fff !important;
}/* End custom CSS */
/* Start custom CSS for archive-posts, class: .elementor-element-294b895 */article .elementor-post__title a{
font-family: "Roboto", Sans-serif !important;
    font-style: normal;
font-weight: normal !important;
font-size: 34px;
line-height: 36px;
color: #262626 !important;
text-decoration: none !important;
padding-top: 1rem;
}/* End custom CSS */
/* Start custom CSS for divider, class: .elementor-element-40637c2 */.blog-line{
    transform: rotate(90deg);
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-b1637a6 */.line-height .elementor-widget-container{
    width: 25rem;
}
.hr-line{
    border-top: 10px solid red;
    transform: rotate(90deg);
}/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-7d8c20f */.blog-categories li a{
background: #F5F7F9;
border: 0.5px solid #E5EAEF;
box-sizing: border-box;
border-radius: 15px;
margin-top: 0.3rem;
margin-bottom: 0.3rem;
padding: 7px 14px !important;
color: #4D4F53 !important;
}
.blog-categories li a:hover{
    color: #4D4F53 !important;
    text-decoration: none;
}/* End custom CSS */
/* Start custom CSS for posts, class: .elementor-element-6830b87 */.recommended article .elementor-post__text .elementor-post__title a{
font-family: "Roboto", Sans-serif !important;
font-style: normal;
font-weight: 500 !important;
font-size: 20px;
line-height: 30px;
color: #262626 !important;
}
.elementor-post__text{
    padding-top: 1rem
}
.recommended article{
    background: #F5F7F9;
border: 1px solid #DDE6FF;
box-sizing: border-box;
box-shadow: 0px 4px 15px rgba(155, 155, 155, 0.12);
border-radius: 20px;
}
.elementor-post__text .elementor-post__excerpt p, .elementor-post__text .elementor-post__meta-data{
font-family: "Roboto", Sans-serif !important;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
color: #262626 !important;
}
.elementor-post__text .elementor-post__read-more{
font-family: "Roboto", Sans-serif !important;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
color: #004BB9;
text-decoration: none !important;
}



@media screen and (max-width: 1024px){
    .most-recent article  .elementor-post__thumbnail__link,
.recommended article .elementor-post__thumbnail__link{
    width: 25% !important;
}

}

@media screen and (max-width: 767px){
    .recommended article,
.most-recent article{
display: flex;
flex-direction: column;
text-align: justify;  
}
.recommended article .elementor-post__thumbnail__link,
.most-recent article  .elementor-post__thumbnail__link{
    width: 100% !important;
}
.recommended article .elementor-post__title a,
.most-recent article .elementor-post__title a{
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 16px !important;
        font-weight: 500 !important;
}
.recommended article
.most-recent article .elementor-post__excerpt p .elementor-post__excerpt p{
    font-style: normal;
font-weight: normal;
font-size: 14px;
    color: #4D4F53 !important;
}
.recommended article .elementor-post__text{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}
.blog-categories-mb li{
    margin-left: 0rem;
    margin-right: 1rem;
}
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-68c781e */@media screen and (max-width: 767px){
.blog-in-mobile article{
    margin: 1rem;
    background: #F5F7F9;
    border: 1px solid #DDE6FF;
    box-sizing: border-box;
    box-shadow: 0px 4px 15px rgba(155, 155, 155, 0.12);
    border-radius: 5px;
}
.blog-in-mobile .elementor-post__title a,
.most-recent article .elementor-post__title a{
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    text-decoration: none !important;
}

.blog-in-mobile article
.most-recent article .elementor-post__excerpt p .elementor-post__excerpt p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #4D4F53 !important;
}


.blog-in-mobile article .elementor-post__text{
    padding-bottom: 1rem;
    padding-right: 1rem;
}

.blog-in-mobile .elementor-post__thumbnail{
    padding-bottom: calc( 2.8 * 45% ) !important;
}
}

@media screen and (max-width: 600px){
.blog-in-mobile .elementor-post__thumbnail{
    padding-bottom: calc( 2.8 * 50% )!important;
}
}

@media screen and (max-width: 490px){
.blog-in-mobile .elementor-post__thumbnail{
    padding-bottom: calc( 2.8 * 80% )!important;
}
}

@media screen and (max-width: 400px){
.blog-in-mobile .elementor-post__thumbnail{
    padding-bottom: calc( 2.8 * 90% )!important;
}
}


@media screen and (max-width: 350px){
.blog-in-mobile .elementor-post__thumbnail{
    padding-bottom: calc( 2.8 * 100% )!important;
}
}/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-647cbee */.blog-categories li a{
background: #F5F7F9;
border: 0.5px solid #E5EAEF;
box-sizing: border-box;
border-radius: 15px;
margin-top: 0.3rem;
margin-bottom: 0.3rem;
padding: 7px 14px !important;
color: #4D4F53 !important;
}
.blog-categories li a:hover{
    color: #4D4F53 !important;
    text-decoration: none;
}/* End custom CSS */